<div class="contenedores">
    <div class="grid">
        <div class="col">
            <p-card header="Vibrador" subheader="" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../../assets/img/juguetes-ellas/vibrador.jpg"/>
                </ng-template>
                <p>
                    Juguete de rosas para mujer, estimulador de clítoris 3 en 1, lamiendo la lengua,
                    empujando el punto G, vibrador con 9 modos, juegos de juguetes sexuales para adultos, para mujeres,
                    hombres y parejas
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <!-- <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" /> -->
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div class="col">
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                </ng-template>
                <p>
                    Lorem ipsum dolor sit amet...
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <!-- <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" /> -->
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div class="col">
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                </ng-template>
                <p>
                    Lorem ipsum dolor sit amet...
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <!-- <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" /> -->
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>