@import "primeicons/primeicons.css";

body {
    position: relative;
    // top:50px;
    // height: 120vh;
    background-image: url('./assets/img/background-image1.jpg');
    background-size: cover;
    // background-position: center top; 
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
  }