.informacion {
  background-color: rgb(252, 49, 191);
  // max-width: 100%;
}

.anchoAuxiliar {
  width: 200px;
}

@media screen and (max-width: 490px) {
  .anchoAuxiliar {
    width: 100px;
  }
}

@media screen and (max-width: 388px) {
  .anchoAuxiliar {
    width: 0px;
  }
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  z-index: 1000;
}