.fondo-difuminado {
    position: fixed;
    margin-left: 5%;
    height: 90%;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.97);
    filter: blur(20px);
}

.contenido {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 0, 0);
    z-index: 10;
    font-size: larger;
}