.fondo-difuminado {
    position: fixed;
    margin-left: 5%;
    height: 90%;
    width: 90%;
    background-color:rgba(255, 255, 255, 0.97);
    filter: blur(20px);
}

// .contenido {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     text-align: center;
//     color: white;
//     z-index: 10;
// }